<!DOCTYPE html>
<html lang="en">
  <head>
      {{>headlinks}}
  </head>
  <body>

    {{>navb}}

    <div class="container-fluid main_header fl-row">
      <div class="row">
        <div class="col-md-10 col-10 mx-auto">
          <div class="row">
             <div class="col-md-6 col-12 main_header_left mx-auto">
              <figure>
                <img src="images/error.png" alt="img " class="img-fluid">
              </figure>   
              <h1>{{errormsg}}</h1>
              <a href="/"> <button>Home</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{>footer}}

    
  </body>
</html>