<!DOCTYPE html>
<html lang="en">
  <head>
   {{>headlinks}}
  </head>
  <body>
    {{>navb}}
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-10 mx-auto">
          
            <div class="main_content">
                <form class="temp_form">
                <input type="text" id="cityName" placeholder="Enter Your City Name">
                <input type="submit" id="submitBtn" value="search">
                </form>
            </div>

            <div class="tempInformation">
                <div class="top_layer">
                    <p id="day"> Ashish</p>
                    <p id="today_data">23 jul</p>
                </div>
                <div class="main_layer ">
                    <p id="city_name"> </p>
                    <div class="middle_layer data_hide">
                        <p id="temp"> <span id="temp_value">0</span> <sup>o</sup> C</p>
                        <p id="temp_status"> <i class="fa-solid fa-clouds"></i> </p>
                    </div>
                </div>
            </div>

        </div>
      </div>
    </div>

   {{>footer}}
  <script src="js/main.js"></script>

  <script>
    let weekday = new Array(7);
    weekday[0]= 'sunday'
    weekday[1]= 'Monday'
    weekday[2]= 'Tuesday'
    weekday[3]= 'Wednesday'
    weekday[4]= 'Thrusday'
    weekday[5]= 'Friday'
    weekday[6]= 'Saturday'

    let CurrentTime = new Date();
    let days = weekday[CurrentTime.getDay()];
    const day = document.getElementById('day')
    day.innerText = days ;
  </script>
 
  </body>
</html>